.navbar-container {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 24px;
    margin: 0;
  }